{{#block "header"}}
    <!DOCTYPE HTML>
    <html>
    <head>
        <title>{{#block "title"}}Wildlife{{/block}}</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
        <link rel="stylesheet" href="/style.css">
        </title>
    </head>
    <body>
    <div class="container">
        <nav class="navbar navbra-expand-sm bg-light">
            <ul class="nav nav-tabs">
                <li class="nav-item"><a href="/">Home</a></li>
                <li class="nav-item"><a href="/heroes">Heroes</a></li>
                <li class="nav-item"><a href="/squads">Squads</a></li>
            </ul>
        </nav>


{{/block}}


{{#block "content"}}{{/block}}

    <!-- end inner template-->
{{#block "footer"}}
    </div>
    </body>
    </html>
{{/block}}